USE [master]
GO
/****** Object:  Database [FriendZone]    Script Date: 2020-03-20 17:09:34 ******/
CREATE DATABASE [FriendZone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FriendZone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FriendZone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FriendZone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FriendZone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FriendZone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FriendZone]
GO
/****** Object:  Table [commentaire]    Script Date: 2020-03-20 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [commentaire](
	[post_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[commentaire_id] [int] IDENTITY(1,1) NOT NULL,
	[tagged_user_id] [int] NULL,
	[message] [varchar](50) NOT NULL,
	[date_created] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[commentaire_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [like]    Script Date: 2020-03-20 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [like](
	[user_id] [int] NOT NULL,
	[post_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [post]    Script Date: 2020-03-20 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[post_url] [varchar](255) NOT NULL,
	[caption] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [user]    Script Date: 2020-03-20 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[description] [varchar](50) NULL,
	[profile_image] [varchar](255) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [commentaire] ON 

INSERT [commentaire] ([post_id], [user_id], [commentaire_id], [tagged_user_id], [message], [date_created]) VALUES (1, 1, 1, 1, N'Expanded demand-driven software', CAST(N'2019-06-11' AS Date))
INSERT [commentaire] ([post_id], [user_id], [commentaire_id], [tagged_user_id], [message], [date_created]) VALUES (2, 2, 2, 2, N'Visionary logistical leverage', CAST(N'2019-07-07' AS Date))
INSERT [commentaire] ([post_id], [user_id], [commentaire_id], [tagged_user_id], [message], [date_created]) VALUES (3, 3, 3, 3, N'Cloned regional product', CAST(N'2019-06-13' AS Date))
SET IDENTITY_INSERT [commentaire] OFF
INSERT [like] ([user_id], [post_id]) VALUES (1, 1)
INSERT [like] ([user_id], [post_id]) VALUES (2, 2)
INSERT [like] ([user_id], [post_id]) VALUES (3, 3)
SET IDENTITY_INSERT [post] ON 

INSERT [post] ([post_id], [user_id], [post_url], [caption]) VALUES (1, 1, N'/post/91d7556d1dc3c234d5d8abc8fc855aa105afb400', N'Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.')
INSERT [post] ([post_id], [user_id], [post_url], [caption]) VALUES (2, 2, N'/post/77d42243f45b3e2f5ff3bf6092b1ac29aa089cfa', N'Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.

Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor. Morbi vel lectus in quam fringilla rhoncus.')
INSERT [post] ([post_id], [user_id], [post_url], [caption]) VALUES (3, 3, N'/post/4d581de0710ae4bcfb0503eb17ba0dc9d7d467b1', N'Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.')
SET IDENTITY_INSERT [post] OFF
SET IDENTITY_INSERT [user] ON 

INSERT [user] ([user_id], [first_name], [last_name], [city], [gender], [country], [description], [profile_image], [username], [password], [email]) VALUES (1, N'Ingmar', N'Ciobotaro', N'Qozonketkan', N'Male', N'Uzbekistan', N'Persevering directional access', N'https://robohash.org/etestplaceat.bmp?size=50x50&set=set1', N'iciobotaro0', N'Zd1yLy9X3', N'iciobotaro0@usatoday.com')
INSERT [user] ([user_id], [first_name], [last_name], [city], [gender], [country], [description], [profile_image], [username], [password], [email]) VALUES (2, N'Rudolph', N'Jennins', N'Na Thawi', N'Male', N'Thailand', N'Decentralized mobile software', N'https://robohash.org/delenitiodittempora.bmp?size=50x50&set=set1', N'rjennins1', N'sxBvLhN', N'rjennins1@meetup.com')
INSERT [user] ([user_id], [first_name], [last_name], [city], [gender], [country], [description], [profile_image], [username], [password], [email]) VALUES (3, N'Luke', N'Luffman', N'???????', N'Male', N'Macedonia', N'Synergized discrete portal', N'https://robohash.org/explicaboconsequunturdolore.bmp?size=50x50&set=set1', N'lluffman2', N'Uok1NMJs', N'lluffman2@google.co.jp')
SET IDENTITY_INSERT [user] OFF
ALTER TABLE [commentaire]  WITH CHECK ADD  CONSTRAINT [FK_post_id_commentaire] FOREIGN KEY([post_id])
REFERENCES [post] ([post_id])
GO
ALTER TABLE [commentaire] CHECK CONSTRAINT [FK_post_id_commentaire]
GO
ALTER TABLE [commentaire]  WITH CHECK ADD  CONSTRAINT [FK_user_id_commentaire] FOREIGN KEY([user_id])
REFERENCES [user] ([user_id])
GO
ALTER TABLE [commentaire] CHECK CONSTRAINT [FK_user_id_commentaire]
GO
ALTER TABLE [like]  WITH CHECK ADD  CONSTRAINT [FK_post_id_like] FOREIGN KEY([post_id])
REFERENCES [post] ([post_id])
GO
ALTER TABLE [like] CHECK CONSTRAINT [FK_post_id_like]
GO
ALTER TABLE [like]  WITH CHECK ADD  CONSTRAINT [FK_user_id_like] FOREIGN KEY([user_id])
REFERENCES [user] ([user_id])
GO
ALTER TABLE [like] CHECK CONSTRAINT [FK_user_id_like]
GO
ALTER TABLE [post]  WITH CHECK ADD  CONSTRAINT [FK_user_id] FOREIGN KEY([user_id])
REFERENCES [user] ([user_id])
GO
ALTER TABLE [post] CHECK CONSTRAINT [FK_user_id]
GO
USE [master]
GO
