USE [FriendZone]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2020-03-20 17:35:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[student_id] [int] NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[school] [varchar](50) NULL,
	[gender] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[student] ([student_id], [first_name], [last_name], [school], [gender]) VALUES (1, N'Ezra', N'Extall', N'Universidad CAECE, Buenos Aires', N'Male')
INSERT [dbo].[student] ([student_id], [first_name], [last_name], [school], [gender]) VALUES (2, N'Samuele', N'Brashaw', N'Darul Hikmah Islamic College', N'Male')
INSERT [dbo].[student] ([student_id], [first_name], [last_name], [school], [gender]) VALUES (3, N'Joaquin', N'McCaughran', N'Southwestern University School of Law', N'Male')
